.start {
    height: 300px;
    width: 100%;
    margin-top: 0px;
}

.start h1 {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size : 5rem;
    color: aliceblue;
    
}

.start p {
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
}

body {
    background-color: blueviolet;
}

.first {
    width: 75%;
    height: 300px;
    background-color: aliceblue;
    margin-right: 30px;
    border : 10px solid white;
    border-radius: 25px;
    

}


.first img {
    height:75% ;
    width: 32%;
    float: left;
    
}

.paragraphs {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    float : right;
}


